/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

:root {
  font-size: 62.5%; /*1rem = 10px*/

  --text-color: #ffffff;
  --stroke-color: #ffffff80;
  --surface-color: rgba(71, 11, 11, 0.8);
  --surface-color-hover: #ffffff05;
  --links-color: #ffffff33;
  --bg-url: url("./assets/bg-mobile.jpg");
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  overflow: auto;
  background: var(--bg-url) no-repeat top center/cover;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* CONTENT */
#container {
  width: 100%;
  max-width: 58.8rem;
  margin-top: 2.4rem;
  padding-inline: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#container #profile,
#container ul,
footer {
  text-align: center;
}

#container #profile .avatar {
  width: 18rem;
  height: 18rem;
  border: 1px solid var(--stroke-color);
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}

#container #profile .bottle {
  width: 2.4rem;
  height: 2.4rem;
  transform: scaleX(-1);
}

#container #profile h3 {
  width: fit-content;
  padding-inline: 1.2rem;
  margin-top: 1.6rem;
  margin-inline: auto;
  font-size: 3.2rem;
  font-family: "Parisienne", cursive;
}

#container #profile p {
  margin-top: 0.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  text-shadow: -6rem 0 18rem var(--surface-color);
}

#container ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#container ul li a {
  padding: 1.6rem 2.4rem;
  background-color: var(--surface-color);
  border: 0.1rem solid var(--stroke-color);
  border-radius: 0.8rem;
  backdrop-filter: blur(0.4rem);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
}

#container ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 0.15rem solid var(--text-color);
}

#container #social-links {
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
}

#container #social-links a {
  padding: 1.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
}

#container #social-links a:hover {
  background: var(--links-color);
}

#container footer {
  font-size: 1.4rem;
}

#container footer span a {
  font-weight: 500;
  text-decoration: underline;
}

.boxanimation {
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
  width: 43.5rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  animation: float 4s ease-in-out infinite;
}

.one {
  top: 4rem;
  left: 2.4rem;
  animation-delay: 2s;
}
.two {
  top: 12rem;
  left: 34rem;
  animation-delay: 4s;
}
.three {
  top: 25rem;
  left: 6rem;
  animation-delay: 8s;
  z-index: -1;
}

/* Key Frames */

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3.2rem);
  }
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url("./assets/bg-desktop.jpg");
  }

  .boxanimation {
    position: absolute;
    top: 3.2rem;
    left: 40.5rem;
    width: 54rem;
    height: 80vh;
  }

  .animation {
    width: 6.4rem;
    height: 6.4rem;
  }

  .two {
    top: 12rem;
    left: 40rem;
  }

  .three {
    top: 24rem;
    left: 12rem;
  }
}
